a {
    text-decoration:none;
}
.title.default {
    margin-left: 80px;
    font-size: 100px;
}
.default {
    font-family: sans-serif;
    color: khaki;
    font-size: 50px;
    background-color:lightslategray;
    text-align: center;
}
.recipelink {
    font-style: oblique;
    margin: 50px;
    list-style: none;
    

}


